openapi: 3.0.0
servers:
  - url: https://llm-agent.aplisay.com/api
info:
  title: LLM Agent API
  version: 1.0.0
  description: |-
    Simple platform agnostic API to create, update and monitor agents connecting inbound audio sessions to 
    a large language model (LLM) based AI engine.

    Extensible architecture that currently supports the following frameworks:
      * Jambonz: connecting LLMs to telephone calls via an STT->model->TTS pipeline (15 models, any STT,TTS supported by Jambonz)
      * Livekit: connecting LLMs to WebRTC rooms and SIP calls using the RealTime Agents API (traditional STT/TTS pipeline agents coming soon)
      * Ultravox: connecting LLMs to WebRTC rooms and SIP calls using the Ultravox API and SDK.
      
    Allows the LLM parameters such as `prompt` and `temperature` to be set at agent creation time and later modified via updates which affect all future calls.
    Also allows setting and modification of text to speech (TTS) and speech to text (STT) parameters which are used for voice recognition and voicing of responses.

    Provides a websocket based `progess` interface which communicates events which take place on calls, allowing the controlling software to capture data and modify
    the prompt in response to client interaction.

    For a demo of the API in action without writing any code, try out the [Aplisay LLM playground](https://llm.aplisay.com), a hosted React based front-end.

    Typical simple transaction flow will be:
      
    1. **[GET models](#operations-Models-modelList)** to obtain a list of valid models.
    2. **[POST agents](#operations-Agent-createAgent)** with a chosen model identifier and prompt to create an agent.
    3. **[POST listen](#operations-Agent-activate)** with the agent ID and type to receive an `instanceId` and either
       a `number` or livekit/ultravox room values from the create call result.
    4. Open a new livekit client session and join the room to receive transcript updates and send/receive audio, or call the number.
    5. When done with the agent, shut down the listener **[DELETE /listener/{listenerId}](#operations-Agent-deleteListenerById)**.
    6. Call **[DELETE agents/{id}](#operations-Agent-deleteAgent)**.

tags:
  - name: Calls
    description: |-
      Call objects are created when an agent receives a call from an external caller
      and are destroyed when the dialogue is complete and either agent or caller hang up.
      Calls operations are always referenced by parent agent and allow listing of live calls, live updating of agent parameters mid-call
      for just one call, injection of direct speech by the app, and hanging up a call by the agent.
  - name: Agent
    description: |-
      An Agent is the core of this API. It describes the interface to an AI engine which operates using a prompt, specifies any
      options like speech recognition language or output voice, temperature and other LLM parameters as well as tools
      (API) calls that a capable LLM may use to fulfill requests.
      An instance of an Agent is created by POSTing to the `/agents` endpoint, and then one or more instances may be activated
      using the `listen` verb to cause implementation specific worker plugins to then execute them to service inbound SIP or WebRTC 
      calls.
  - name: Models
    description: |-
      A Model is an AI language model provider which is used by an Agent and controlled through a prompt.
      The Model for a particular agent is set at agent creation time.
  - name: Voices
    description: |-
      Voices are the list of text to speach (TTS) voices which are available in the engine, again they are
      set at agent creation time, but may also be modified in the course of running an agent.
  - name: Phone Endpoints
    description: |-
      Phone Endpoints represent routed telephone numbers and other SIP user fields available to an organisation for use with agents.
      These endpoints can be assigned to agent instances to handle incoming calls to the DDI or SIP registration ID
  - name: Listeners
    description: |-
      Listener operations manage agent listener instances, including activation, join, originate, and deletion.

components:
  schemas:
    Model:
      type: object
      properties:
        name:
          description: Model Name
          type: string
          example: GPT3.5-turbo
        description:
          description: Agent Description
          type: string
          example: GPT3.5-turbo chat
        voices:
          $ref: "#/components/schemas/VoiceList"
        supportsFunctions:
          description: This model supports function calling via the `functions` property
          type: boolean
          example: true
        audioModel:
          description: This model is a speech-to-speech audio model
          type: boolean
          example: false
        hasTelephony:
          description: This model has a telephony interface so can be activated with a number if required
          type: boolean
          example: true
        hasWebRTC:
          description: This model supports audio input via WebRTC
          type: boolean
          example: true
      required:
        - name
        - description
    Agent:
      type: object
      properties:
        modelName:
          $ref: "#/components/schemas/ModelName"
        prompt:
          $ref: "#/components/schemas/Prompt"
        options:
          $ref: "#/components/schemas/AgentOptions"
        functions:
          $ref: "#/components/schemas/Functions"
        keys:
          $ref: "#/components/schemas/Keys"
    ModelName:
      type: string
      description: The short model name
      example: gpt35
    Parameters:
      type: object
      description: |-
        An OpenAPI style schema for the invocation parameters.
        There are three types of parameter as defined by the source property: `generated`, `static`, `metadata`:
          
         * `generated` parameters (default) are generated by the LLM dynamically based on its conversation context. They are used for things 
        that the LLM knows or has found out.
         * `static` parameters that are invariant and will be the same on each function call, their definition is a fixed value from the `from` field.
         * `metadata` parameters are used to pass per call or invocation variant data to the function, the `from` field is a text key to the metadata object.

        `static` and `metadata` parameters are not seen by the LLM (unless a function call returns them in it's results), but are added to the function call after dispatch by the LLM.
      properties:
        properties:
         type: object
         additionalProperties:
           type: object
           description: A parameter for a function call
           properties:
             name:
               type: string
               description: The name of the parameter
               example: temperature
             description:
               type: string
               description: >
                 If the parameter is `generated` then this property is essential and is a description of what the parameter does and how it should be set which 
                 will be used by the LLM to shape the input. Careful specification of the syntax and semantics of the parameter here is essential for reliable function
                 invocation by the LLM.
               example: The city name to be looked up.
             type:
               type: string
               description: The type of the parameter
               default: "string"
               enum: ["string", "number", "boolean"]
             in:
               type: string
               description: Where in the request the parameter should be used
               enum: ["body", "header", "path", "query"]
               default: "query"
               example: query
             required:
               type: boolean
               description: Whether this parameter is required
               default: false
               example: true
             source:
               type: string
               description: The type of the parameter
               enum: ["generated", "static", "metadata"]
               default: "generated"
               example: "static"
             from:
               type: string
               description: |-
                 The source value of the parameter for `static` or `metadata` parameters, either a constant string value for `static` parameters, or a key to the metadata object for `metadata` parameters.
                 Metadata keys consist of one or two levels of keys separated by a dot. 
                 All builtin keys sit under an `aplisay` top level namespace, e.g. `aplisay.callerId`, `aplisay.isWebrtc`.
                 Custom metadata keys can be added by the caller in certain setup calls.
                 Whilst these can be any string, it is recommended to use a namespace to avoid clashes, *e.g.* `myapp.mykey`.
               example: aplisay.callerId
      example:
        properties:
          location:
            type: string
            description: The city and country, e.g. London, UK
            required: true
          units:
            type: string
            enum: ["celsius", "fahrenheit"]
            description: The unit of temperature, either \"celsius\" or \"fahrenheit\"
          caller_id:
            type: string
            source: metadata
            from: aplisay.callerId
          userData:
            type: string
            source: metadata
            from: myapp.userData
          someStaticParam:
            type: string
            source: static
            from: "some value"

    Prompt:
      type: string
      description: The prompt to be used in the LLM engine
      example: |-
        You work for Robs Flags, a company that manufactures flags.
        You can only chat with callers about submitting or organising the return of an order that the user has previously made...
    AgentOptions:
      type: object
      properties:
        temperature:
          description: Agent LLM temperature
          type: number
          example: 0.2
        callHook:
          $ref: "#/components/schemas/CallHookConfig"
        recording:
          type: object
          description: |-
            Call recording configuration for this agent.

            When enabled, calls handled by this agent can be recorded to a storage bucket.
            Recordings are always encrypted. If you provide a `key`, the recording will be
            encrypted with a key derived from that value and the server will not be able
            to decrypt it for you. If you omit `key`, a random per-call key will be
            generated internally so that downloads from the API return plaintext audio.

            Instance/listener-specific recording options (when supported) override these
            agent-level defaults.
          properties:
            enabled:
              type: boolean
              description: Enable or disable call recording for this agent.
            key:
              type: string
              nullable: true
              description: |-
                Optional client-provided encryption key. When set, recordings are encrypted
                with a key derived from this value and the server cannot decrypt them for you.
                You must decrypt them client-side after download.
        tts:
          type: object
          properties:
            language:
              $ref: "#/components/schemas/Language"
            voice:
              description: |-
                TTS voice specifier.
                Must be a supported voice language as returned from a get on the `voices` api
              type: string
              example: en-GB-Wavenet-A
        stt:
          type: object
          properties:
            language:
              $ref: "#/components/schemas/Language"
        fallback:
          type: object
          description: |-
            Fallback behaviour configuration for this agent.

            Fallbacks are applied in the following precedence order when there is a failure to invoke the primary model:

             1. `agent` – if specified, the current call/room will be torn down and restarted using the given fallback agent.
             2. `model` – if specified and no `agent` fallback is configured, the session will be restarted using this fallback model name,
                keeping all other agent configuration the same.
             3. `number` – if neither an `agent` nor `model` fallback is available (or the configured fallback model also fails),
                the call will be transferred to this number using the builtin `transfer` platform function.
          properties:
            agent:
              description: |-
                Identifier of an alternative agent to use if the primary agent fails to connect to its configured model.

                When set, this is the first level of fallback: the current agent session will be completely restarted using the referenced
                fallback agent, and any further fallback behaviour is then controlled by that agent's own `options.fallback` configuration.
              type: string
              example: "support-fallback-agent"
            model:
              description: |-
                Fallback model name to use if the primary `modelName` for this agent fails to connect and no `agent` fallback is defined.

                When set (and `agent` is not set), the session will be restarted substituting only this model name, keeping the same agent
                definition (prompt, tools, options, etc).
              type: string
              example: "gpt-4.1-mini"
            number:
              description: |-
                A phone number or endpoint ID to transfer the call to if the LLM is unavailable or not responding (telephone agents only).

                This is the last level of fallback: if no `agent` or `model` fallback is configured, or the configured fallback model also
                fails, the system will invoke the builtin `transfer` platform function and use this value as its `number` parameter.

                The value MUST conform to the same constraints as the `transfer` function's `number` parameter:
                  - It MUST be specified as a concrete string (cannot be dynamically generated by the LLM).
                  - It SHOULD represent either a valid E.164 phone number or a platform-specific endpoint/extension ID that your tenant
                    is allowed to call.
                  - It MUST also satisfy any `outboundCallFilter` configured on the agent, otherwise the transfer will be rejected.

                This fallback number will also be available as metadata for use in function calls as `aplisay.fallbackNumber`. It can be
                used there to actively trigger a fallback to a human agent by arranging for the LLM to call the `platform` function
                `transfer` with this number as a `static` or `metadata` parameter.
              type: string
              example: "+44123456780"
        callbackUrl:
          $ref: "#/components/schemas/CallbackUrl"
        outboundCallFilter:
          description: |-
            A regular expression pattern that will be used to filter outbound calls generated by this agent.
            The regexp is anchored with ^ and $ to match the complete phone number.
            Only outbound calls (via originate or transfer) where the destination number matches this pattern will be allowed.
            
            Examples:
            - `^\+44[1237]\d{6,15}$` - UK geographic and mobile numbers (e.g., +442080996945, +447911123456)
            - `^\+61[23456789]\d{8}$` - Australian geographic numbers (e.g., +61234567890)
            - `^\d{3,6}$` - Extension numbers (e.g., 123, 4567, 123456)
            - `^(\+44[1237]\d{6,15}|\d{3,6})$` - UK numbers or extensions
          type: string
          example: "^\\+44[1237]\\d{6,15}$"
        transferPrompt:
          description: |-
            Custom prompt to be used by the TransferAgent during consultative transfers. This allows you to customize
            how the TransferAgent introduces the call and interacts with the transfer target.
            
            The prompt can include the placeholder `${parentTranscript}` which will be replaced with the conversation history
            between the caller and the original agent.
            
            If not specified at the agent level, a default prompt will be used. This can also be overridden on a
            per-transfer basis by providing `transferPrompt` as a parameter to the transfer function call.
            
            This option only applies to consultative transfers (when `operation: "consultative"` is specified in the
            transfer function call).
          type: string
          example: |-
            You are a transfer assistant. Here is the conversation history: ${parentTranscript}
            
            You are now speaking with the person who will take over this call. Please:
            1. Briefly summarize why the caller needs help
            2. Ask if they can take the call
            3. If yes, call accept_transfer. If no, call reject_transfer.
            
            Be professional and concise.
        vendorSpecific:
          description: |-
            Vendor-specific options for different providers. This is an opaque object that allows passing
            provider-specific configuration options that are not part of the standard agent options.
            
            Each vendor can have its own set of options under a vendor-specific key (e.g., `ultravox`).
            These options are passed through to the vendor's implementation without validation at the API level.
            
            Example for Ultravox:
              ```json
              {
                "ultravox": {
                  "experimentalSettings": {
                    "transcriptionProvider": "deepgram-nova-3"
                  }
                }
              }
              ```
            
            The structure and allowed values are vendor-specific and should be documented by each vendor.
          type: object
          additionalProperties: true
          example:
            ultravox:
              experimentalSettings:
                transcriptionProvider: "deepgram-nova-3"
    CallHookConfig:
      type: object
      description: |-
        Configuration for external callbacks on call start and end events.
        Can be set on the agent (`agent.options.callHook`) and/or the listener (`listener.options.callHook`).
        The effective configuration for a call is resolved by taking the listener-level `callHook` if present,
        otherwise the agent-level `callHook`, otherwise no callback is made.
      properties:
        url:
          type: string
          description: |-
            URL to POST a JSON payload to when the hook is triggered.
            Called for each configured event (start/end).
          example: https://app.example.com/call-hook
        hashKey:
          type: string
          description: |-
            Optional shared secret used to compute a request body hash.
            The hash is computed as an HMAC-SHA256 over the canonical string:
            `hashKey|callId|listenerId|agentId` and exposed in the JSON body as the `hash` property.
          example: "super-secret-key"
        includeTranscript:
          type: boolean
          description: |-
            When true, the `end` event callback will include a `transcript` field if available.
            For some flows, the transcript is passed to the call end API; otherwise it is lazily fetched
            from the transaction log for the callId (preferring final logs where available).
          default: false
        events:
          type: array
          description: |-
            The set of events that should trigger callbacks.
            When omitted or empty, the default is to send callbacks for both `start` and `end`.
          items:
            type: string
            enum: ["start", "end"]
          example: ["start", "end"]
    CallHookPayload:
      type: object
      description: |-
        JSON payload POSTed to the configured `callHook.url` on call start and end events.
        The payload always contains identifiers for the call, agent and listener (instance),
        along with caller/called information and an event type.
        On `end` events, optional duration, reason and transcript information may be included.
      properties:
        event:
          type: string
          description: The event type that triggered the callback.
          enum: ["start", "end"]
          example: "end"
        callId:
          type: string
          description: Unique ID of the call.
          example: "648aa45d-204a-4c0c-a1e1-419406254134"
        agentId:
          type: string
          description: ID of the agent associated with the call (if available).
          example: "648aa45d-204a-4c0c-a1e1-419406252234"
        listenerId:
          type: string
          description: ID of the listener/instance associated with the call (if available).
          example: "5a5c9a6b-bb8b-4dd9-a8ff-f179b0f3f777"
        callerId:
          type: string
          description: Caller number for the call.
          example: "+443300889471"
        calledId:
          type: string
          description: Called number for the call.
          example: "+442080996945"
        timestamp:
          type: string
          format: date-time
          description: Time at which the callback was generated on the server.
          example: "2025-06-04T12:00:01.000Z"
        reason:
          type: string
          nullable: true
          description: Optional reason for call end, when `event` is `end`.
          example: "normal_hangup"
        durationSeconds:
          type: number
          nullable: true
          description: |-
            Optional call duration in seconds, when `event` is `end` and the information is available.
          example: 60
        transcript:
          type: object
          nullable: true
          description: |-
            Optional transcript object for `end` events when `includeTranscript` is enabled.
            The exact structure is implementation-specific but typically contains an `entries` array
            with per-turn logs (role, text/data, timestamps).
        hash:
          type: string
          description: |-
            Optional request integrity hash when `hashKey` is configured on the callHook.
            Computed as HMAC-SHA256 over `hashKey|callId|listenerId|agentId` and represented as a hex string.
          example: "aef1f2e6d3c9..."
    CallbackUrl:
      type: string
      description: A callback URL to be used for status updates
      example: https://app.aplisay.com/status/updates
    Functions:
      type: array
      description: An array of fulfillment functions to be given to the LLM as tools
      items:
        type: object
        properties:
          name:
            type: string
            description: The function call name, used in the invocation, this is an arbitrary string identifier.
            pattern: '^[a-zA-Z0-9_-]{1,64}$'
            example: get_weather
          description:
            type: string
            description: A description of what the function call does which will be used by the LLM when deciding to invoke it
            example: Get the current weather in a given location
          implementation:
            type: string
            description: |-
              How this function should be implemented.
              * `stub` is used to return the same fixed result each time for testing,
              * `rest` makes an actual API call using *url* and the rest of the parameters
              * `client` is a client side function that is implemented in the client code (only useful for WebRTC agents)
              * `builtin` is a function that is built into the Aplisay LLM platform.
            enum: ["rest", "stub", "client", "builtin"]
            example: rest
          platform:
            type: string
            enum: ["hangup", "transfer", "transfer_status", "metadata"]
            description: >  
                For `builtin` functions, this is the name of a platform function as defined in the platform. The following platform functions are currently available:
                  * `hangup` takes no parameters and will hang up the call
                  * `metadata` interrogates the metadata for the call, returning a JSON object with the requested metadata keys and values. 
                     Keys are specified as a comma separated list in the `keys` parameter.
                  * `transfer` will transfer the call to a number specified in the `number` parameter. The following optional parameters are available:
                    - `number` (string, required): The phone number or endpoint ID to transfer to. Must be specified as `static` or `metadata` source (cannot be `generated` for security reasons).
                    - `callerId` (string, optional): Override the caller ID used for the transfer. Must be a phone number owned by your organisation with outbound calling enabled. If the original call comes in on a telephony trunk, the caller ID number must use a matching egress trunk. For WebRTC calls, the caller ID trunk will be used for the outbound transfer. If not specified, uses the original called number.
                    - `operation` (string, optional): Specify a transfer operation/mode used by the underlying platform; allowed values are `blind` (default) or `consultative`
                      - `blind`: Immediately transfers the call. Returns `OK` when complete or `FAILED` with a reason if it fails. The system automatically chooses between SIP REFER and bridging based on participant capabilities.
                      - `consultative`: For "warm" transfers where the agent first speaks with the transfer target before connecting them to the caller. Returns immediately after the consultation call is placed with status `OK` and a message indicating the consultation has started. The transfer continues in the background. Use the builtin `transfer_status` function to check progress. A separate call record is created for the consultation leg, including its transcript.
                   - `transferPrompt` (string, optional): Custom prompt to be used by the TransferAgent during consultative transfers. This overrides any `transferPrompt` set at the agent level (see `AgentOptions.transferPrompt`). The prompt can include the placeholder `${parentTranscript}` which will be replaced with the conversation history. Priority order: 1) `transferPrompt` parameter in transfer call, 2) `options.transferPrompt` in agent configuration, 3) default system prompt. Only applies when `operation` is `consultative`. Must be specified as `static` source (cannot be `generated` or `metadata`).
                   - `consultFeedback` (boolean, optional): When set to `true`, enables returning detailed rejection feedback from consultative transfers in the `description` field of `transfer_status`. When omitted or `false`, only a generic "Transfer failed" message is returned to the original agent, keeping the detailed reasons confidential. Defaults to `false`. Only applies when `operation` is `consultative`.
                    - `forceBridged` (boolean, optional): When set to `true`, forces a bridged transfer even when the trunk or registration endpoint supports SIP REFER. This overrides the automatic selection between bridging and REFER. Defaults to `false`. Only applies to blind transfers (`operation: "blind"`). Use this when you need to maintain control over the call path, preserve custom SIP headers, or ensure consistent billing behavior.
                  * `transfer_status` is a builtin function that is always available to telephone agents. It takes no parameters and returns the current state of any in-progress transfer:
                    - Returns an object with `state` (one of: `none`, `dialling`, `talking`, `rejected`, `failed`) and `description` (a textual description of the current state)
                    - `none`: No transfer in progress
                    - `dialling`: The transfer target is being called
                    - `talking`: The agent is speaking with the transfer target (consultative transfers only)
                   - `rejected`: The transfer target declined the transfer (consultative transfers only). If `consultFeedback` was set to `true`, the description will contain detailed rejection feedback; otherwise it will be a generic "Transfer failed" message.
                    - `failed`: The transfer failed
                    - Use this to monitor the progress of consultative transfers. For blind transfers, the function returns immediately when the transfer completes.
                
                **Transfer Function Notes:**
                - The transfer function will only be available to telephone agents when outbound calling or SIP redirects are enabled for the provider trunk
                - The `number` parameter can only be specified as either `static` or `metadata` (e.g. from `aplisay.transferNumber` metadata)
                - For anti-fraud reasons, it is not possible to use a LLM `generated` parameter as the number to transfer a call to
                - Only one transfer can be in progress at a time. If a transfer is already in progress, subsequent transfer requests will return `FAILED`
                - By default, blind transfers automatically choose between bridging and SIP REFER based on trunk/endpoint capabilities. Use `forceBridged: true` to override this and always use bridging
                - Consultative transfers always use bridging (SIP REFER for consultative transfers is currently disabled)
                - The `transferPrompt` parameter can only be specified as `static` - it cannot be generated by the LLM or sourced from metadata

                The `metadata` function will only currently be available to telephone agents, and the `keys` parameter 
                can only be specified as a `static`. This ensures that the LLM can only work with metadata that the agent designer
                has explicitly allowed it to which is a security feature to control the risk of data leakage.

          result:
            type: string
            description: The hardwired result of this function call, optional and only useful for `stub` or `client`
            example: the result is one
          url:
            type: string
            description: The URL to be called when the function is invoked, optionally with path variable substitutions wrapped in {} braces
            example: https://app.aplisay.com/weather/get_weather/{location}
          method:
            type: string
            description: The HTTP method to be used when calling the function
            enum: ["get", "post", "put", "delete"]
            example: get
          key:
            type: string
            description: The name of an API key which should be used with this call
            example: WEATHER_API_KEY
          input_schema:
            $ref: "#/components/schemas/Parameters"
    Keys:
      type: array
      description: An array of keys to be used in API calls
      items:
        type: object
        properties:
          name:
            type: string
            description: The key name, used in the invocation
            example: get_weather
          in:
            type: string
            description: Where in the request the key should be used
            enum: ["basic", "bearer", "header", "path", "query"]
            example: bearer
          value:
            type: string
            description: The value of the key. For keys in the \"basic\" auth header, this will be the base64 encoded value of the username:password
            example: asdk438smw03lxdfs9se3
          username:
            type: string
            description: The username for the key. Meaningful only for keys in the \"basic\" auth header.
            example: user1
          header:
            type: string
            description: The custom header name for the key. Meaningful only for keys with an `in` of \"header\".
            example: X-Api-Key
          password:
            type: string
            description: The password for the key. Meaningful only for keys in the \"basic\" auth header.
            example: <PASSWORD>
    Language:
      description: >-
        Language and country dialect specified as an ISO639-1 language code
        followed by a dash and and ISO3166 country code.
        For now, list of supported recognition voices is identical to the voicing languages returned from the `voices` api.
        This should change in future
      type: string
    Voice:
      type: object
      properties:
        name:
          type: string
          description: The voice name or identifier within the TTS engine - opaque string
          example: en-GB-Wavenet-B
        gender:
          type: string
          description: The vendor assigned gender of this voice within the TTS engine
          example: male
    VoiceList:
      type: object
      additionalProperties:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/Voice"
    TransactionLog:
      type: array
      description: An array of log entries for this transaction
      items:
        $ref: "#/components/schemas/TransactionLogRow"
    TransactionLogRow:
      type: object
      properties:
        callId:
          type: string
          description: unique ID of this transaction
          example: 648aa45d-204a-4c0c-a1e1-419406254134
        type:
          type: string
          description: The type of this log entry
          enum: ["call", "agent", "user", "hangup"]
          example: call
        data:
          type: string
          description: The data associated with this log entry
          example: "hello, how may a I help you"
        createdAt:
          type: string
          description: The time this log entry was created
          example: 2020-01-01T00:00:00Z
        updatedAt:
          type: string
          description: The time this log entry was last updated
          example: 2020-01-01T00:00:00Z
        isFinal:
          type: boolean
          description: Whether this log entry is the final form for this row, if false, then the row may change in future (e.g. to add further transcriptions)
          example: true
    Call:
      type: object
      properties:
        id:
          type: string
          description: unique ID of this call
          example: 648aa45d-204a-4c0c-a1e1-419406254134
        parentId:
          type: string
          nullable: true
          description: ID of the parent call if this call was created as part of a transfer or bridge
          example: 632555d87-948e-48f2-a53d-fc5f261daa7
        agentId:
          type: string
          description: The ID of the agent that this call is associated with
          example: 648aa45d-204a-4c0c-a1e1-419406252234
        modelName:
          type: string
          description: The name of the model used for this call, if specified
          example: gpt-4.1-mini
        from:
          type: string
          description: Caller number (as received, no format guaranteed)
          example: "03300889471"
        to:
          type: string
          description: Called number for this call
          example: "+442080996945"
        startedAt:
          type: string
          description: The time this call started
          example: 2025-06-04T12:00:00.000Z
        endedAt:
          type: string
          description: The time this call ended
          example: 2025-06-04T12:01:00.000Z
    CallId:
      type: string
      description: The Call ID the event relates to
      example: 648aa45d-204a-4c0c-a1e1-419406254134
    Progress:
      oneOf:
        - $ref: "#/components/schemas/Progress.user"
        - $ref: "#/components/schemas/Progress.agent"
        - $ref: "#/components/schemas/Progress.inject"
        - $ref: "#/components/schemas/Progress.call"
        - $ref: "#/components/schemas/Progress.hangup"
        - $ref: "#/components/schemas/Progress.data"
      example:
        {
          prompt: "I would like some candyfloss",
          call_id: "648aa45d-204a-4c0c-a1e1-419406254134",
        }
    Progress.user:
      type: object
      properties:
        user:
          type: string
          description: prompt received from user
          example: I would like some candyfloss
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.agent:
      type: object
      properties:
        agent:
          type: string
          description: completion from AI to user
          example: I am an AI I cannot make physical things like candyfloss
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.inject:
      type: object
      properties:
        inject:
          type: string
          description: spoken text injected directly by the application
          example: This is your application speaking
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.call:
      type: object
      properties:
        call:
          type: string
          description: the phone number of the caller
          example: +44123456789
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.hangup:
      type: object
      properties:
        hangup:
          type: boolean
          description: boolean true value to indicate hangup
          example: true
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.data:
      type: object
      properties:
        data:
          type: object
          description: "raw JSON data object as sent by the AI model"
          example: { order: { number: 123456, value: "£12345" } }
        call_id:
          $ref: "#/components/schemas/CallId"
    Error:
      type: object
      properties:
        code:
          type: string
          description: String representation of a numeric error code
          example: "1234"
        message:
          type: string
          description: Human readable error condition (largely) suitable to present to the client.
          example: "general server error"
    NotFound:
      type: object
      properties:
        message:
          type: string
          description: Human readable message describing which parameter was not found
          example: "Not found: no phone number matching 1234 exists for this user/organisation"
    Conflict:
      type: object
      properties:
        message:
          type: string
          description: Human readable message describing which parameter was in conflct
          example: "In use: number 1234 is already linked to another instance"
    PreConditionFailed:
      type: object
      properties:
        message:
          type: string
          description: Human readable message describing which condition failed
          example: "Not supported: 1234 routes to jambonz but this agent uses livekit"
    Registrar:
      type: string
      description: SIP contact URI for phone registration endpoints
      pattern: '^(?:sips?:)?(?:[a-zA-Z0-9._-]+@)?[a-zA-Z0-9.-]+(?::[0-9]+)?$'
      example: sip.example.com:5060
    PhoneRegistrationOptions:
      type: object
      description: Implementation-specific options for phone registration endpoints (TBD)
      properties:
        transport:
          type: string
          enum:
            - udp
            - tcp
            - tls
          default: tls
          description: Transport protocol for SIP registration
        auth_username:
          type: string
          description: |-
            The authentication username for an outbound registration. This will be used as the authentication 
            username when registering with the SIP registrar, if this differa from the username used in the From field.
            Not required for most registrars where auth and from usernames are the same, but may be required for systems
            where they are different.
          example: "authuser123"
        extension_in_contact:
          type: boolean
          description: |-
            When set to true, will send the extension user in the SIP Contact header. This is useful when the remote 
            gateway needs the extension user to be included in the Contact header for proper routing or authentication.
          example: true
      example:
        transport: tls
        auth_username: "authuser123"
        extension_in_contact: true
    PhoneEndpointCreateInput:
      description: |-
        Schema for creating a new phone endpoint. Supports two types of endpoints:
        DDI endpoints are created using an E.164 phone number with trunk configuration.
        Phone registration endpoints are created using a SIP contact URI, username, and password.
        Both kinds of endpoints can be created with a user-defined descriptive name and optionally set to support outbound calling
        (if supported by the handler and trunk/registration account).
      allOf:
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              description: The type of phone endpoint
              enum:
                - e164-ddi
                - phone-registration
            name:
              type: string
              description: User-defined descriptive name
              nullable: true
            handler:
              type: string
              description: The handler type for this phone endpoint
              enum:
                - livekit
                - jambonz
              default: livekit
            outbound:
              type: boolean
              description: Whether this endpoint supports outbound calls
              default: false
        - oneOf:
            - description: E.164 DDI endpoint
              type: object
              required:
                - number
                - trunkId
              properties:
                name:
                  type: string
                  description: User-defined descriptive name
                  nullable: true
                number:
                  type: string
                  description: E.164 phone number (with or without +)
                  pattern: '^\+?[1-9]\d{6,14}$'
                trunkId:
                  type: string
                  description: Trunk identifier for e164-ddi type
            - description: Phone registration endpoint
              type: object
              required:
                - registrar
                - username
                - password
              properties:
                name:
                  type: string
                  description: User-defined descriptive name
                  nullable: true
                registrar:
                  $ref: '#/components/schemas/Registrar'
                username:
                  type: string
                  description: Username for phone-registration type
                password:
                  type: string
                  description: Password for phone-registration type
                options:
                  $ref: '#/components/schemas/PhoneRegistrationOptions'
    PhoneEndpointUpdateInput:
      description: |-
        Schema for updating a phone endpoint. All fields are optional.
        For e164-ddi endpoints, only `outbound` and `handler` can be updated.
        For phone-registration endpoints, `name`, `outbound`, `handler`, `registrar`, `username`, `password`, and `options` can be updated.
        When credentials (registrar, username, password) are updated, the registration state is reset to initial.
      type: object
      properties:
        name:
          type: string
          description: User-defined descriptive name
        outbound:
          type: boolean
          description: Supports outbound
        handler:
          type: string
          enum:
            - livekit
            - jambonz
          description: Handler for this endpoint
        registrar:
          $ref: '#/components/schemas/Registrar'
        username:
          type: string
          description: Registration username (for registrations)
        password:
          type: string
          description: Registration password (for registrations)
        options:
          $ref: '#/components/schemas/PhoneRegistrationOptions'
paths: {}
