openapi: 3.0.0
servers:
  - url: https://llm-agent.aplisay.com/api
info:
  title: LLM Agent API
  version: 1.0.0
  description: |-
    Create, run and observe LLM-powered voice agents.

    An **agent** is a definition — a model, a prompt, and options and tools — that the
    platform runs against live audio: inbound and outbound telephone calls and WebRTC
    rooms, across multiple gateways (LiveKit, Pipecat, Jambonz) and LLM providers. Agent
    parameters such as the prompt, temperature and the speech (TTS/STT) options can be
    updated at any time and apply to all future calls.

    Activating an agent creates a **listener** bound to a phone number or a room; each
    conversation it handles becomes a **call** with a transcript you can retrieve or have
    delivered by webhook, and a websocket event stream reports call events in real time.

    Operations are grouped by resource — Agents and Agent Sets, Listeners, Calls, Models
    and Voices, and Phone Endpoints. For a getting-started guide and worked examples, see
    the [Aplisay documentation](https://aplisay.com/docs).

tags:
  - name: Calls
    description: |-
      Call objects are created when an agent receives a call from an external caller
      and are destroyed when the dialogue is complete and either agent or caller hang up.
      Calls operations are always referenced by parent agent and allow listing of live calls, live updating of agent parameters mid-call
      for just one call, injection of direct speech by the app, and hanging up a call by the agent.
  - name: Agent
    description: |-
      An Agent is the core of this API. It describes the interface to an AI engine which operates using a prompt, specifies any
      options like speech recognition language or output voice, temperature and other LLM parameters as well as tools
      (API) calls that a capable LLM may use to fulfill requests.
      An instance of an Agent is created by POSTing to the `/agents` endpoint, and then one or more instances may be activated
      using the `listen` verb to cause implementation specific worker plugins to then execute them to service inbound SIP or WebRTC 
      calls.
  - name: Models
    description: |-
      A Model is an AI language model provider which is used by an Agent and controlled through a prompt.
      The Model for a particular agent is set at agent creation time.
  - name: Voices
    description: |-
      Voices are the list of text to speach (TTS) voices which are available in the engine, again they are
      set at agent creation time, but may also be modified in the course of running an agent.
  - name: Phone Endpoints
    description: |-
      Phone Endpoints represent routed telephone numbers and other SIP user fields available to an organisation for use with agents.
      These endpoints can be assigned to agent instances to handle incoming calls to the DDI or SIP registration ID
  - name: Listeners
    description: |-
      Listener operations manage agent listener instances, including activation, join, originate, and deletion.
  - name: Agent Sets
    description: |-
      Agent Sets group a number of agents which are created, updated and deleted together from a single JSON document.
      Members carry a shortform `label` (unique within the set) and may reference each other in `transfer_agent` and
      `subagent` builtin functions using `label:<label>` references, which the platform fixes up to real agent IDs
      on creation or update.

# All operations require a bearer token unless stated otherwise on the operation.
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |-
        Authenticate every request with `Authorization: Bearer <token>`, where the token is either
        an Aplisay API key issued for your account, or the identity token of a signed-in platform
        user. Keys are scoped to your organisation: agents, calls, numbers and usage are only ever
        visible within the organisation that owns them.
  schemas:
    Model:
      type: object
      properties:
        name:
          description: Model Name
          type: string
          example: GPT3.5-turbo
        description:
          description: Agent Description
          type: string
          example: GPT3.5-turbo chat
        voices:
          $ref: "#/components/schemas/VoiceList"
        supportsFunctions:
          description: This model supports function calling via the `functions` property
          type: boolean
          example: true
        supportsMcp:
          description: This model supports remote MCP servers via the `mcpServers` property
          type: boolean
          example: true
        audioModel:
          description: This model is a speech-to-speech audio model
          type: boolean
          example: false
        voiceStack:
          type: string
          enum: [realtime, pipeline]
          description: |-
            LiveKit-only. `realtime` is speech-to-speech; `pipeline` is STT–LLM–TTS and uses agent `stt`/`tts` options.
        requiresSttTts:
          type: boolean
          description: |-
            LiveKit-only. When true, configure `options.stt` and `options.tts` (vendor, language, voice) for the pipeline.
        hasTelephony:
          description: This model has a telephony interface so can be activated with a number if required
          type: boolean
          example: true
        hasWebRTC:
          description: This model supports audio input via WebRTC
          type: boolean
          example: true
      required:
        - name
        - description
    Agent:
      type: object
      properties:
        modelName:
          $ref: "#/components/schemas/ModelName"
        type:
          $ref: "#/components/schemas/AgentType"
        prompt:
          $ref: "#/components/schemas/Prompt"
        promptMetadata:
          $ref: "#/components/schemas/PromptMetadata"
        options:
          $ref: "#/components/schemas/AgentOptions"
        functions:
          $ref: "#/components/schemas/Functions"
        mcpServers:
          $ref: "#/components/schemas/McpServers"
        keys:
          $ref: "#/components/schemas/Keys"
    AgentType:
      type: string
      description: |-
        The interaction type of the agent:
         * `interactive-audio` (default) — the agent is connected to a live audio session (telephone call or WebRTC room).
         * `text` — a headless agent which is invoked like a function (via `POST /agents/{agentId}/invoke`, or by a voice
           agent through a `subagent` builtin function) and returns its work product by calling a builtin `result`
           platform function. Text agents use `text:`-prefixed model names (e.g. `text:openai/gpt-4o`) and is defaulted
           from the model name when omitted.
      enum: ["interactive-audio", "text"]
      default: interactive-audio
      example: interactive-audio
    AgentSetMemberInput:
      description: |-
        An agent definition within an agent-set document: a normal agent create body plus the
        set-unique `label` used for intra-set references.
      allOf:
        - type: object
          required:
            - label
          properties:
            label:
              type: string
              description: Shortform label, unique within the set, used in `label:<label>` references
              pattern: '^[a-zA-Z0-9][a-zA-Z0-9_-]{0,63}$'
              example: sales
            name:
              type: string
            description:
              type: string
            removeFunctions:
              type: array
              items:
                type: string
              description: |-
                Names of stored functions to delete from this member explicitly. A stored function that
                references a write-only key entry (its `key` property) is treated as platform-wired: an
                update whose `functions` merely omits it keeps it in place, so a document written before
                the wiring can never strip it. Listing the function's name here is how it is actually
                removed. Names listed here also delete ordinary stored functions when `functions` is not
                supplied at all (a remove-only patch).
        - $ref: "#/components/schemas/Agent"
    AgentSetInput:
      type: object
      description: |-
        Document describing a complete agent set. Within member `functions`, `transfer_agent` and `subagent`
        builtin `agent` parameters may use `{"source": "static", "from": "label:<label>"}` to reference other
        members; these are resolved to real agent IDs when the set is created or updated (the original label is
        retained in a `fromLabel` annotation so the stored document still round-trips through GET and PUT).
      required:
        - agents
      properties:
        name:
          type: string
          description: Display name for the agent set
        description:
          type: string
        agents:
          type: array
          items:
            $ref: "#/components/schemas/AgentSetMemberInput"
    AgentSet:
      type: object
      description: An agent set with its full member agent definitions (member `keys` are never returned).
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        agents:
          type: array
          items:
            type: object
            additionalProperties: true
    AgentSetListItem:
      type: object
      description: Summary row returned by GET /agent-sets.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        agents:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              label:
                type: string
              name:
                type: string
              modelName:
                $ref: "#/components/schemas/ModelName"
              type:
                $ref: "#/components/schemas/AgentType"
    AgentListItem:
      type: object
      description: |-
        Summary row returned by GET /agents: id, display fields, model, and timestamps only.
        No options, keys, listeners, prompt, functions, or mcpServers — use GET /agents/{agentId} for the full agent.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        modelName:
          $ref: "#/components/schemas/ModelName"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ModelName:
      type: string
      description: The short model name
      example: gpt35
    Parameters:
      type: object
      description: |-
        An OpenAPI style schema for the invocation parameters.
        There are three types of parameter as defined by the source property: `generated`, `static`, `metadata`:
          
         * `generated` parameters (default) are generated by the LLM dynamically based on its conversation context. They are used for things 
        that the LLM knows or has found out.
         * `static` parameters that are invariant and will be the same on each function call, their definition is a fixed value from the `from` field.
         * `metadata` parameters are used to pass per call or invocation variant data to the function, the `from` field is a text key to the metadata object.

        `static` and `metadata` parameters are not seen by the LLM (unless a function call returns them in it's results), but are added to the function call after dispatch by the LLM.
      properties:
        properties:
         type: object
         additionalProperties:
           type: object
           description: A parameter for a function call
           properties:
             name:
               type: string
               description: The name of the parameter
               example: temperature
             description:
               type: string
               description: >
                 If the parameter is `generated` then this property is essential and is a description of what the parameter does and how it should be set which 
                 will be used by the LLM to shape the input. Careful specification of the syntax and semantics of the parameter here is essential for reliable function
                 invocation by the LLM.
               example: The city name to be looked up.
             type:
               type: string
               description: The type of the parameter. `array` is accepted for `generated` parameters whose value is a JSON array (e.g. the builder builtins' `agents` and `removeLabels` parameters).
               default: "string"
               enum: ["string", "number", "boolean", "array"]
             in:
               type: string
               description: Where in the request the parameter should be used
               enum: ["body", "header", "path", "query"]
               default: "query"
               example: query
             required:
               type: boolean
               description: Whether this parameter is required
               default: false
               example: true
             source:
               type: string
               description: The type of the parameter
               enum: ["generated", "static", "metadata"]
               default: "generated"
               example: "static"
             from:
               oneOf:
                 - type: string
                 - type: boolean
                 - type: number
               description: |-
                 The source value of the parameter for `static` or `metadata` parameters, either a constant literal value for `static` parameters, or a key to the metadata object for `metadata` parameters.
                 `static` literals may be strings, booleans, or numbers (e.g. the boolean `includeHistory` flag on a `transfer_agent` function); `metadata` keys are always strings.
                 Metadata keys consist of one or two levels of keys separated by a dot.
                 All builtin keys sit under an `aplisay` top level namespace, e.g. `aplisay.callerId`, `aplisay.isWebrtc`.
                 Custom metadata keys can be added by the caller in certain setup calls.
                 Whilst these can be any string, it is recommended to use a namespace to avoid clashes, *e.g.* `myapp.mykey`.
               example: aplisay.callerId
      example:
        properties:
          location:
            type: string
            description: The city and country, e.g. London, UK
            required: true
          units:
            type: string
            enum: ["celsius", "fahrenheit"]
            description: The unit of temperature, either \"celsius\" or \"fahrenheit\"
          caller_id:
            type: string
            source: metadata
            from: aplisay.callerId
          userData:
            type: string
            source: metadata
            from: myapp.userData
          someStaticParam:
            type: string
            source: static
            from: "some value"

    Prompt:
      type: string
      description: The prompt to be used in the LLM engine
      example: |-
        You work for Robs Flags, a company that manufactures flags.
        You can only chat with callers about submitting or organising the return of an order that the user has previously made...
    PromptMetadata:
      type: array
      description: |-
        Call metadata to STATE TO THE MODEL IN ITS SYSTEM PROMPT, rather than leaving it to fetch the
        value with a `get_metadata` tool call. Each entry renders as one `<description> <value>` line
        appended to the agent's prompt under a "Call context" heading, resolved fresh for every call
        (and again after a `transfer_agent` handover, for the incoming agent's own declaration).

        Use it for facts the agent must reason with from its FIRST utterance — today's date above all.
        A tool round-trip only happens if the model remembers to make it, and on realtime providers it
        freezes the conversation while it runs; a prompt statement is always present and costs nothing
        at turn time. The `metadata` builtin remains the right tool for values needed occasionally, or
        that may change during a long call.

        Rules:
          * `from` is a dot-path into the same call metadata that `source: "metadata"` function
            parameters read — e.g. `aplisay.callerId`, `aplisay.calledId`, `aplisay.dateTime`, or any
            key the deployment seeds into instance metadata.
          * `aplisay.dateTime` is computed live at prompt-composition time (a seeded value wins), so an
            agent that reasons about dates never has to guess what day it is.
          * An entry whose value is missing, null or empty is OMITTED — an absent optional fact never
            becomes a statement the model would then treat as true.
          * `metadata.toolsCalls.*` paths are only permitted on handlers with dynamic metadata support
            (LiveKit), matching the rule for `source: "metadata"` parameters and the `metadata` builtin.
          * Object and array values render as compact JSON; long values are truncated.
      maxItems: 20
      items:
        type: object
        required:
          - from
        properties:
          description:
            type: string
            maxLength: 200
            description: |-
              Sentence fragment placed before the value, e.g. "The current date/time is". Written so
              `<description> <value>` reads as a complete statement of fact. Optional: with no
              description the bare value is stated on its own line.
            example: The current date/time is
          from:
            type: string
            maxLength: 200
            description: Dot-path into the call metadata, e.g. `aplisay.dateTime`.
            example: aplisay.dateTime
      example:
        - description: The current date/time is
          from: aplisay.dateTime
        - description: The number this caller is calling from is
          from: aplisay.callerId
    AgentOptions:
      type: object
      properties:
        temperature:
          description: Agent LLM temperature
          type: number
          example: 0.2
        callHook:
          $ref: "#/components/schemas/CallHookConfig"
        recording:
          type: object
          description: |-
            Call recording configuration for this agent.

            When enabled, calls handled by this agent can be recorded to a storage bucket.
            Recordings are always encrypted. If you provide a `key`, the recording will be
            encrypted with a key derived from that value and the server will not be able
            to decrypt it for you. If you omit `key`, a random per-call key will be
            generated internally so that downloads from the API return plaintext audio.

            Instance/listener-specific recording options (when supported) override these
            agent-level defaults.
          properties:
            enabled:
              type: boolean
              description: Enable or disable call recording for this agent.
            key:
              type: string
              nullable: true
              description: |-
                Optional client-provided encryption key. When set, recordings are encrypted
                with a key derived from this value and the server cannot decrypt them for you.
                You must decrypt them client-side after download.
        voiceMode:
          type: string
          enum: [realtime, pipeline]
          description: |-
            Optional LiveKit override. Normally omitted: stack is chosen from the model id in `modelName`
            (see GET /models `voiceStack`). Use this only to force realtime vs pipeline when needed.
        greeting:
          $ref: "#/components/schemas/AgentGreeting"
        tts:
          type: object
          properties:
            language:
              $ref: "#/components/schemas/Language"
            vendor:
              type: string
              description: |-
                TTS provider for pipeline models (e.g. cartesia, google, elevenlabs, deepgram).
                You may optionally scope the inference model via `vendor/model` (e.g. `deepgram/aura-2`, `cartesia/sonic-3`).
            voice:
              description: |-
                TTS voice specifier.
                Must be a supported voice language as returned from a get on the `voices` api
              type: string
              example: en-GB-Wavenet-A
        stt:
          type: object
          properties:
            language:
              $ref: "#/components/schemas/Language"
            vendor:
              type: string
              description: |-
                STT provider for pipeline models (e.g. deepgram, assemblyai, cartesia).
                You may optionally scope the inference model (and suffix) using `vendor/model[:lang]`, e.g. `deepgram/nova-3:en`.
        fallback:
          type: object
          description: |-
            Fallback behaviour configuration for this agent.

            Fallbacks are applied in the following precedence order when there is a failure to invoke the primary model:

             1. `agent` – if specified, the current call/room will be torn down and restarted using the given fallback agent.
             2. `model` – if specified and no `agent` fallback is configured, the session will be restarted using this fallback model name,
                keeping all other agent configuration the same.
             3. `number` – if neither an `agent` nor `model` fallback is available (or the configured fallback model also fails),
                the call will be transferred to this number using the builtin `transfer` platform function.
          properties:
            agent:
              description: |-
                Identifier of an alternative agent to use if the primary agent fails to connect to its configured model.

                When set, this is the first level of fallback: the current agent session will be completely restarted using the referenced
                fallback agent, and any further fallback behaviour is then controlled by that agent's own `options.fallback` configuration.
              type: string
              example: "support-fallback-agent"
            model:
              description: |-
                Fallback model name to use if the primary `modelName` for this agent fails to connect and no `agent` fallback is defined.

                When set (and `agent` is not set), the session will be restarted substituting only this model name, keeping the same agent
                definition (prompt, tools, options, etc).
              type: string
              example: "gpt-4.1-mini"
            number:
              description: |-
                A phone number or endpoint ID to transfer the call to if the LLM is unavailable or not responding (telephone agents only).

                This is the last level of fallback: if no `agent` or `model` fallback is configured, or the configured fallback model also
                fails, the system will invoke the builtin `transfer` platform function and use this value as its `number` parameter.

                The value MUST conform to the same constraints as the `transfer` function's `number` parameter:
                  - It MUST be specified as a concrete string (cannot be dynamically generated by the LLM).
                  - It SHOULD represent either a valid E.164 phone number or a platform-specific endpoint/extension ID that your tenant
                    is allowed to call.
                  - It MUST also satisfy any `outboundCallFilter` configured on the agent, otherwise the transfer will be rejected.

                This fallback number will also be available as metadata for use in function calls as `aplisay.fallbackNumber`. It can be
                used there to actively trigger a fallback to a human agent by arranging for the LLM to call the `platform` function
                `transfer` with this number as a `static` or `metadata` parameter.
              type: string
              example: "+44123456780"
        maxDuration:
          description: |-
            Maximum duration for any single call/session handled by this agent, expressed as a
            duration string in whole seconds with a trailing `s` suffix (e.g. `"305s"`).

            Defaults to `"305s"` if not specified.

            Behaviour:
              - For providers that natively support a session time limit (e.g. Ultravox), the value
                is passed through to the provider so the model itself winds the conversation down
                when the limit is reached.
              - For all other providers, the worker enforces a hard stop: roughly 5 seconds after
                `maxDuration` elapses the session is asked to generate a final reply, and ~10 seconds
                after that the room and call are torn down. This guarantees calls cannot exceed the
                configured limit even on backends with no native timeout (e.g. OpenAI realtime).

          type: string
          pattern: "^\\d+s$"
          default: "305s"
          example: "305s"
        timeExceededMessage:
          description: |-
            Message that the agent should deliver to the caller when `maxDuration` is reached and
            the session is being wound down.

            Currently only honoured by providers that support a native session time limit with a
            wind-down message (Ultravox). For other providers, on timeout the worker prompts the
            model with a generic "The session has timed out." instruction instead, and this option
            is ignored.

            Defaults to `"It has been great chatting with you, but we have exceeded our time now."`.
          type: string
          default: "It has been great chatting with you, but we have exceeded our time now."
          example: "We've reached the end of our scheduled time — thanks for calling, goodbye!"
        dtmfTimeout:
          description: |-
            Inter-digit timeout for DTMF (keypad tone) collection, in milliseconds.

            While the caller is pressing keys, digits are accumulated into a buffer rather than
            being sent to the model one at a time. The buffer is flushed to the model once no
            further digit has been received for `dtmfTimeout` milliseconds, allowing multi-digit
            inputs (e.g. an account number) to arrive as a single turn.

            Defaults to `1500` (1.5 seconds). Set to `0` to flush each digit immediately with no
            buffering delay. A pressed `dtmfTerminator` always flushes the buffer immediately,
            regardless of this value.

            Honoured by the LiveKit worker and by the Pipecat worker across its SIP gateways:
            FreeSWITCH, Daily, sipbridge, and Voiceblender (the latter two decode RFC 4733
            telephone-event tones in their media layer and forward them to the worker).
          type: integer
          minimum: 0
          default: 1500
          example: 2000
        dtmfTerminator:
          description: |-
            DTMF digit that, when pressed, immediately flushes the buffered digits to the model
            without waiting for `dtmfTimeout` to elapse. The terminator itself is not added to the
            buffer.

            Defaults to `"#"`. Set to an empty string (`""`) to disable the immediate-send
            terminator so the buffer is only ever flushed on the `dtmfTimeout`.

            Honoured by the LiveKit worker and by the Pipecat worker across its SIP gateways:
            FreeSWITCH, Daily, sipbridge, and Voiceblender (the latter two decode RFC 4733
            telephone-event tones in their media layer and forward them to the worker).
          type: string
          default: "#"
          example: "#"
        inactivity:
          description: |-
            Inactivity "kick": while a call is live, if there has been no conversational activity
            (no user speech and the agent is not currently speaking) for `timeout`, the agent
            speaks `message` verbatim via TTS (deterministic literal speech, not an LLM prompt —
            e.g. "Are you still there?"). The kick re-fires on each further `timeout` of continued
            silence, and the idle timer resets whenever there is activity (the user starts/stops
            speaking, or the agent speaks). It stops at call teardown.

            If omitted (or `message` is empty / `timeout` is not a positive duration) the feature is
            off and there is no behavioural change.

            Honoured by both the Pipecat worker (via Pipecat's built-in user-idle detection) and the
            LiveKit worker (via the session `userAwayTimeout` / `user_state_changed` → "away" event),
            including the Ultravox realtime path on both stacks. Also honoured by native Ultravox
            agents (`ultravox:` model names) on every medium — WebRTC, WebSocket, and jambonz-routed
            telephony — where it is applied provider-side via Ultravox `inactivityMessages` (the same
            nudge re-fires after each further `timeout` of continued silence, up to 3 times).

            By default the call is never hung up by this mechanism — it prompts and then waits
            indefinitely. Set `hangup` to end the call once the prompt has gone unanswered three
            times.

            Note: this is distinct from the provider-native `vendorSpecific.ultravox.inactivityMessages`,
            which is handled entirely server-side by Ultravox and is not portable across workers; when
            both are set on an Ultravox-backed path, the vendor-specific block wins.
          type: object
          properties:
            timeout:
              description: |-
                Idle timeout before the kick fires. Either a whole number of seconds, or a duration
                string with a trailing `s` (e.g. `"8s"`) — the same convention as `maxDuration`.
              oneOf:
                - type: number
                - type: string
                  pattern: "^\\d+(\\.\\d+)?s?$"
              example: "30s"
            message:
              description: The literal phrase the agent speaks verbatim on each idle kick.
              type: string
              example: "Are you still there?"
            hangup:
              description: |-
                End the call once the prompt has gone unanswered three times, instead of prompting
                indefinitely. Opt-in; omitted or `false` leaves behaviour unchanged.

                Without this, a leg that nobody hangs up is only reclaimed by the session long-stop
                (the model's `maxDuration` plus a few seconds), so whoever is still on the line can
                sit through minutes of silence first. That includes an abandoned consultative-transfer
                target, which has no other party left to hang up on it.

                Honoured on every stack, but enforced in two different places, which matters if the
                agent performs consultative transfers:

                  * Ultravox-backed paths (native `ultravox:` agents, and the Ultravox realtime path
                    on the LiveKit and Pipecat workers) apply it provider-side as an
                    `endBehavior` on the last `inactivityMessages` entry. Ultravox has no knowledge
                    of a transfer in flight, so a caller held silently through a long consultation
                    can be hung up on.
                  * All other models (pipeline STT/LLM/TTS, OpenAI and Gemini realtime) are enforced
                    by the worker, which suppresses the hangup while a consultation or transfer is in
                    flight.

                Prefer leaving this off for agents that perform consultative transfers with long
                holds on an Ultravox-backed path. The resulting call record carries the disconnect
                reason `Inactivity timeout`, distinct from `Session timeout`.
              type: boolean
              default: false
              example: true
          required:
            - timeout
            - message
        outboundCallFilter:
          description: |-
            A regular expression pattern that will be used to filter outbound calls generated by this agent.
            The regexp is anchored with ^ and $ to match the complete phone number.
            Only outbound calls (via originate or transfer) where the destination number matches this pattern will be allowed.
            
            Examples:
            - `^\+44[1237]\d{6,15}$` - UK geographic and mobile numbers (e.g., +442080996945, +447911123456)
            - `^\+61[23456789]\d{8}$` - Australian geographic numbers (e.g., +61234567890)
            - `^\d{3,6}$` - Extension numbers (e.g., 123, 4567, 123456)
            - `^(\+44[1237]\d{6,15}|\d{3,6})$` - UK numbers or extensions
          type: string
          example: "^\\+44[1237]\\d{6,15}$"
        transferTone:
          description: |-
            Confidence tone during call transfers: plays a periodic comfort beep to the caller while a
            transfer is in flight, so they are not left listening to dead air.

            - During a **blind** transfer the tone plays from the moment the transfer starts dialling
              until it succeeds (the SIP REFER completes or the bridged media is established) or fails.
            - During a **consultative** transfer the tone plays for the whole consultation, but only in
              the gaps when neither the caller nor the agent is audibly speaking — it yields to live
              conversation and resumes after `graceMs` of silence.

            Set to `true` to enable with the default tone (a medium-pitched, medium-length comfort
            beep every ~3 s at low volume), or to an object to tune it. If omitted (or `false` /
            `enabled: false`) the feature is off and there is no behavioural change.

            The tone *shape* is chosen from a small fixed set rather than free-form Hz/ms — `frequency`,
            `length`, and `volume` are enumerated — so the platform can serve pre-generated tones for
            efficiency. Only the silence timings (`gapMs`, `graceMs`) are continuous.

            Honoured by both the LiveKit and Pipecat workers for all transfer mechanisms (bridging,
            SIP REFER, and the WebRTC worker-side media relay). See docs/call-transfers.md.
          oneOf:
            - type: boolean
            - type: object
              properties:
                enabled:
                  description: Set `false` to disable without removing the object.
                  type: boolean
                  default: true
                frequency:
                  description: Tone pitch. `low` ≈ 350 Hz, `medium` ≈ 425 Hz, `high` ≈ 550 Hz.
                  type: string
                  enum: [low, medium, high]
                  default: medium
                length:
                  description: Burst length. `short` ≈ 150 ms, `medium` ≈ 250 ms, `long` ≈ 400 ms.
                  type: string
                  enum: [short, medium, long]
                  default: medium
                volume:
                  description: Tone loudness. `low` ≈ 0.08, `medium` ≈ 0.15, `high` ≈ 0.30 (linear amplitude).
                  type: string
                  enum: [low, medium, high]
                  default: medium
                gapMs:
                  description: Silence between bursts in milliseconds.
                  type: number
                  minimum: 0
                  maximum: 60000
                  default: 2750
                graceMs:
                  description: |-
                    Quiet time in milliseconds required after either party last spoke before the
                    tone starts (or resumes).
                  type: number
                  minimum: 0
                  maximum: 30000
                  default: 1200
          example:
            frequency: medium
            length: medium
            volume: medium
            gapMs: 2750
            graceMs: 1200
        bridgedTransferToAgent:
          description: |-
            Human-to-agent transfers: after a **bridged** transfer, let the transfer target hand the
            caller back to an AI agent by pressing a DTMF sequence. Keys are DTMF sequences of 1-8
            characters from `0-9`, `*` and `#`; values name the voice agent the caller is handed to
            when the sequence is detected **on the transfer-target leg** (caller digits never trigger it).

            Values are an agent UUID string, or an object `{ agent, includeHistory }` where
            `includeHistory` (default `true`) controls whether the incoming agent's prompt carries the
            conversation the caller had with the original agent. Inside an agent-set document a value
            may be a `label:<label>` reference, resolved to the member's UUID on save (recorded as
            `fromLabel` for round-tripping).

            While this option is set, transfers are forced onto the bridged path (a SIP REFER would
            take the call off-platform, out of DTMF sight). Multi-digit sequences are matched with the
            `dtmfTimeout` inter-digit timeout. On a match the target leg is dropped and the mapped
            agent answers the caller on a new child call record. Not available for WebRTC (browser)
            origin calls. See docs/call-transfers.md.
          type: object
          minProperties: 1
          additionalProperties:
            oneOf:
              - type: string
                description: Target agent UUID (or `label:<label>` inside an agent-set document).
              - type: object
                properties:
                  agent:
                    description: Target agent UUID (or `label:<label>` inside an agent-set document).
                    type: string
                  includeHistory:
                    description: Carry the original agent's conversation into the incoming agent's prompt.
                    type: boolean
                    default: true
                required:
                  - agent
          example:
            "1": "5f4c0a9e-1111-2222-3333-444455556666"
            "*7":
              agent: "9a1b0c2d-7777-8888-9999-000011112222"
              includeHistory: false
        bridgedTransferTranscribe:
          description: |-
            Transcribe the human↔human segment of a bridged transfer (the conversation between the
            caller and the transfer target after the AI has left the call). When enabled, a
            speaker-labelled transcript of the bridged segment is stored on the bridged-segment call
            record, and — when combined with `bridgedTransferToAgent` — is included in the incoming
            agent's prompt when the transfer target hands the caller back by DTMF.

            Set `true` to enable with defaults, or an object to tune the transcription engine where
            the gateway runs its own STT (the voiceblender topology; the sipbridge topology taps the
            bridged audio to the worker and uses the agent's configured STT, ignoring `provider`).
            Media stays on the gateway fast path in all cases — transcription is a tap, not a detour.
            See docs/call-transfers.md.
          oneOf:
            - type: boolean
            - type: object
              properties:
                enabled:
                  description: Set `false` to disable without removing the object.
                  type: boolean
                  default: true
                provider:
                  description: Gateway-native STT provider (voiceblender topology only).
                  type: string
                  enum: [elevenlabs, deepgram, azure]
                  default: elevenlabs
                language:
                  description: BCP-47 language tag hint for the transcription engine.
                  type: string
                  example: en
          example:
            provider: deepgram
            language: en
        transferPrompt:
          description: |-
            Custom prompt to be used by the TransferAgent during consultative transfers. This allows you to customize
            how the TransferAgent introduces the call and interacts with the transfer target.
            
            The prompt can include the placeholder `${parentTranscript}` which will be replaced with the conversation history
            between the caller and the original agent.
            
            If not specified at the agent level, a default prompt will be used. This can also be overridden on a
            per-transfer basis by providing `transferPrompt` as a parameter to the transfer function call.
            
            This option only applies to consultative transfers (when `operation: "consultative"` is specified in the
            transfer function call).
          type: string
          example: |-
            You are a transfer assistant. Here is the conversation history: ${parentTranscript}
            
            You are now speaking with the person who will take over this call. Please:
            1. Briefly summarize why the caller needs help
            2. Ask if they can take the call
            3. If yes, call accept_transfer. If no, call reject_transfer.
            
            Be professional and concise.
        vendorSpecific:
          description: |-
            Vendor-specific options for different providers. This is an opaque object that allows passing
            provider-specific configuration options that are not part of the standard agent options.
            
            Each vendor can have its own set of options under a vendor-specific key (e.g., `ultravox`).
            These options are passed through to the vendor's implementation without validation at the API level.
            
            Example for Ultravox:
              ```json
              {
                "ultravox": {
                  "experimentalSettings": {
                    "transcriptionProvider": "deepgram-nova-3"
                  },
                  "vadSettings": {
                    "turnEndpointDelay": "0.5s",
                    "minimumTurnDuration": "0s",
                    "minimumInterruptionDuration": "0.12s",
                    "frameActivationThreshold": 0.5
                  },
                  "firstSpeakerSettings": {
                    "agent": {
                      "text": "Hello, how can I help you today?"
                    }
                  },
                  "inactivityMessages": [
                    {
                      "duration": "30s",
                      "message": "Are you still there?"
                    },
                    {
                      "duration": "15s",
                      "message": "If there is nothing else, I will end the call.",
                      "endBehavior": "END_BEHAVIOR_HANG_UP_SOFT"
                    }
                  ]
                }
              }
              ```
            
            The structure and allowed values are vendor-specific and should be documented by each vendor.
          type: object
          additionalProperties: true
          example:
            ultravox:
              experimentalSettings:
                transcriptionProvider: "deepgram-nova-3"
              vadSettings:
                turnEndpointDelay: "0.384s"
              firstSpeakerSettings:
                agent:
                  prompt: "Greet the caller briefly and ask how you can help."
              inactivityMessages:
                - duration: "60s"
                  message: "Are you still there?"
    AgentGreeting:
      description: |-
        Optional opening greeting played immediately after the agent session starts.

        Exactly one of `text` or `instructions` may be set.

        Implementation notes:
          - The greeting is always uninterruptible and the agent waits for playout.
          - Inbound caller audio during the greeting is dropped (not buffered/replayed), so the agent is effectively "deaf" until the greeting completes.
          - If you need an interruptible greeting, do not use this option; prompt the model to greet naturally as part of the normal dialogue.

        Availability:
          - Supported for LiveKit agents (`livekit:` model names) on all stacks.
          - Supported for native Ultravox agents (`ultravox:` model names) on every medium —
            WebRTC, WebSocket, and jambonz-routed telephony — applied provider-side via Ultravox
            `firstSpeakerSettings`. A caller-supplied `vendorSpecific.ultravox.firstSpeakerSettings`
            takes precedence over this option, as does `options.firstSpeaker: 'user'`.
          - No-op on Jambonz pipeline telephony agents (non-Ultravox models routed via Jambonz).

        Note for LiveKit OpenAI realtime (`livekit:openai/...`):
          - Even with `text`, speech is produced through the realtime model; treat it as best-effort verbatim, not a guaranteed "speak exactly these characters" primitive.
      oneOf:
        - type: object
          additionalProperties: false
          properties:
            text:
              type: string
              description: Fixed greeting text.
              example: "Hello, how can I help you today?"
          required: [text]
          not:
            required: [instructions]
        - type: object
          additionalProperties: false
          properties:
            instructions:
              type: string
              description: LLM instructions for the greeting.
              example: "Greet the caller briefly and ask how you can help."
          required: [instructions]
          not:
            required: [text]
    CallHookConfig:
      type: object
      description: |-
        Configuration for external callbacks on call start and end events.
        Can be set on the agent (`agent.options.callHook`) and/or the listener (`listener.options.callHook`).
        The effective configuration for a call is resolved by taking the listener-level `callHook` if present,
        otherwise the agent-level `callHook`, otherwise no callback is made.
      properties:
        url:
          type: string
          description: |-
            URL to POST a JSON payload to when the hook is triggered.
            Called for each configured event (start/end).
          example: https://app.example.com/call-hook
        hashKey:
          type: string
          description: |-
            Optional shared secret used to compute a request body hash.
            The hash is computed as an HMAC-SHA256 over the canonical string:
            `hashKey|callId|listenerId|agentId` and exposed in the JSON body as the `hash` property.
          example: "super-secret-key"
        includeTranscript:
          type: boolean
          description: |-
            When true, the `end` event callback will include a `transcript` field if available.
            For some flows, the transcript is passed to the call end API; otherwise it is lazily fetched
            from the transaction log for the callId (preferring final logs where available).
          default: false
        events:
          type: array
          description: |-
            The set of events that should trigger callbacks.
            When omitted or empty, the default is to send callbacks for both `start` and `end`.
          items:
            type: string
            enum: ["start", "end"]
          example: ["start", "end"]
    CallHookPayload:
      type: object
      description: |-
        JSON payload POSTed to the configured `callHook.url` on call start and end events.
        The payload always contains identifiers for the call, agent and listener (instance),
        along with caller/called information and an event type.
        On `end` events, optional duration, reason and transcript information may be included.
      properties:
        event:
          type: string
          description: The event type that triggered the callback.
          enum: ["start", "end"]
          example: "end"
        callId:
          type: string
          description: Unique ID of the call.
          example: "648aa45d-204a-4c0c-a1e1-419406254134"
        agentId:
          type: string
          description: ID of the agent associated with the call (if available).
          example: "648aa45d-204a-4c0c-a1e1-419406252234"
        listenerId:
          type: string
          description: ID of the listener/instance associated with the call (if available).
          example: "5a5c9a6b-bb8b-4dd9-a8ff-f179b0f3f777"
        callerId:
          type: string
          description: Caller number for the call.
          example: "+443300889471"
        calledId:
          type: string
          description: Called number for the call.
          example: "+442080996945"
        timestamp:
          type: string
          format: date-time
          description: Time at which the callback was generated on the server.
          example: "2025-06-04T12:00:01.000Z"
        reason:
          type: string
          nullable: true
          description: Optional reason for call end, when `event` is `end`.
          example: "normal_hangup"
        durationSeconds:
          type: number
          nullable: true
          description: |-
            Optional call duration in seconds, when `event` is `end` and the information is available.
          example: 60
        transcript:
          type: object
          nullable: true
          description: |-
            Optional transcript object for `end` events when `includeTranscript` is enabled.
            The exact structure is implementation-specific but typically contains an `entries` array
            with per-turn logs (role, text/data, timestamps).
        hash:
          type: string
          description: |-
            Optional request integrity hash when `hashKey` is configured on the callHook.
            Computed as HMAC-SHA256 over `hashKey|callId|listenerId|agentId` and represented as a hex string.
          example: "aef1f2e6d3c9..."
    CallbackUrl:
      type: string
      description: A callback URL to be used for status updates
      example: https://app.aplisay.com/status/updates
    Functions:
      type: array
      description: An array of fulfillment functions to be given to the LLM as tools
      items:
        type: object
        properties:
          name:
            type: string
            description: The function call name, used in the invocation, this is an arbitrary string identifier.
            pattern: '^[a-zA-Z0-9_-]{1,64}$'
            example: get_weather
          description:
            type: string
            description: A description of what the function call does which will be used by the LLM when deciding to invoke it
            example: Get the current weather in a given location
          implementation:
            type: string
            description: |-
              How this function should be implemented.
              * `stub` is used to return the same fixed result each time for testing,
              * `rest` makes an actual API call using *url* and the rest of the parameters
              * `client` is a client side function that is implemented in the client code (only useful for WebRTC agents)
              * `builtin` is a function that is built into the Aplisay LLM platform.
            enum: ["rest", "stub", "client", "builtin"]
            example: rest
          platform:
            type: string
            enum: ["hangup", "transfer", "transfer_status", "send_dtmf", "metadata", "transfer_agent", "subagent", "result", "create_agent_set", "update_agent_set", "patch_agent_set", "list_voices", "ask_user", "test_agent", "request_review"]
            description: >
                For `builtin` functions, this is the name of a platform function as defined in the platform. The following platform functions are currently available:
                  * `transfer_agent` hands the live call over to another agent definition mid-call (LiveKit and Pipecat agents). Parameters:
                    - `agent` (string, required): the target agent ID. Must be `static` or `metadata` sourced (never `generated`).
                      Within an agent-set document a `static` value may be a `label:<label>` reference to another member of the set.
                      The target must be an `interactive-audio` agent in the same organisation.
                    - `includeHistory` (boolean, optional, `static`): when `true`, the conversation transcript so far is handed to the
                      new agent as part of its context. When omitted or `false`, the new agent starts with a clean context.
                    - `summary` (string, optional, `generated`): a short handover summary the transferring LLM can compose for the
                      next agent. Delivered to the new agent alongside its prompt.
                    Two automatic handover modes: when the target agent's `modelName` matches the running session's
                    (and the stack supports it), the prompt and functions are swapped **in place** — same session, same
                    call record. When the model string differs (or on Ultravox realtime models, which cannot change
                    prompt/tools mid-call), the platform performs a **full-stack handover**: the target agent's own
                    model/voice/tool stack is started on the same live call, and a NEW call record is created with the
                    original call as `parentId` (the original ends with `transferred to agent <id>, continued as call
                    <child-id>`). The target model must run on the same worker as the live session (`livekit:` ↔
                    `livekit:`, `pipecat:` ↔ `pipecat:`); on Pipecat, full handover works on websocket SIP gateway
                    legs and browser WebRTC sessions (Daily and consultation legs refuse it).
                  * `subagent` invokes a `text` type agent like a function call (LiveKit, Pipecat and text agents). Parameters:
                    - `agent` (string, required): the target text agent ID, `static` or `metadata` sourced (never `generated`).
                      `label:<label>` references are supported within agent-set documents.
                    - any further `generated` parameters are forwarded to the text agent as its task input.
                    The platform runs the text agent headlessly until it calls its `result` platform function; those result
                    arguments are returned to the calling LLM as this function's result.
                  * `result` (text agents only) terminates a text-agent invocation and delivers its work product: the
                    (generated) arguments the agent passes become the result returned to the invoker. Define its
                    `input_schema` to describe the output you require from the agent.
                  * `create_agent_set`, `update_agent_set`, `patch_agent_set`, `list_voices`, `ask_user`, `test_agent`,
                    `request_review` (text agents only) are the agent-builder builtins. They are dispatched by the
                    interactive **chat session** tool plane only: inside a chat session they perform org-scoped
                    agent-set CRUD, voice listing, user questioning, set testing, and requesting an independent review
                    exactly as the builtin set builder does. `request_review` takes no parameters: it pauses the turn
                    and emits a `review` frame; the client runs its own review flow and answers with a `review_result`
                    frame whose result becomes this function's tool result. Outside a chat session the set-CRUD
                    builtins (`create_agent_set`/`update_agent_set`/`patch_agent_set`) fail closed with an error, and
                    `ask_user`/`test_agent`/`request_review` yield empty results.
                  * `hangup` takes no parameters and will hang up the call
                  * `send_dtmf` plays a string of DTMF digits to the remote party as
                    **out-of-band** (RFC 4733 telephone-event) tones over a SIP telephone
                    call. Available on `livekit:` and `pipecat:` agents only (on Pipecat, the
                    sipbridge and voiceblender SIP gateways synthesise the telephone-event
                    RTP). Parameters:
                    - `digits` (string, required): the digits to play, over the alphabet
                      `0-9`, `*` and `#` (max 64 characters). Unlike `transfer`'s `number`,
                      this MAY be `generated` — the LLM enters what it learned during the call
                      (an IVR menu selection, an account or reference number) — as well as
                      `static` or `metadata`. Playing tones on the existing call is not a
                      redirect, so there is no anti-fraud restriction on the parameter source.
                    The digits are played serially with standard telephony timing. On a
                    **WebRTC / browser** session the function returns a `FAILED` result — there
                    is no telephone leg to signal on — as it does for an empty or out-of-
                    alphabet digit string; on success it returns `{ "status": "OK", "detail": "sent N DTMF digit(s)" }`.
                  * `metadata` interrogates the call metadata, returning a JSON object with the requested metadata keys and values.
                     `keys` is a comma-separated list of dot-notation paths (arbitrary depth), for example `aplisay.callId` or `toolsCalls.lookupDirectory.result.transferNumber`.
                     References to `toolsCalls...` are only allowed on **LiveKit agents**.
                  * `transfer` will transfer the call to a number specified in the `number` parameter. The following optional parameters are available:
                    - `number` (string, required): The phone number or endpoint ID to transfer to. Must be specified as `static` or `metadata` source (cannot be `generated` for security reasons).
                    - `callerId` (string, optional): Override the caller ID used for the transfer. Must be a phone number owned by your organisation with outbound calling enabled. If the original call comes in on a telephony trunk, the caller ID number must use a matching egress trunk. For WebRTC calls, the caller ID trunk will be used for the outbound transfer. If not specified, uses the original called number.
                    - `operation` (string, optional): Specify a transfer operation/mode used by the underlying platform; allowed values are `blind` (default) or `consultative`
                      - `blind`: Immediately transfers the call. Returns `OK` when complete or `FAILED` with a reason if it fails. The system automatically chooses between SIP REFER and bridging based on participant capabilities.
                      - `consultative`: For "warm" transfers where the agent first speaks with the transfer target before connecting them to the caller. Returns immediately after the consultation call is placed with status `OK` and a message indicating the consultation has started. The transfer continues in the background. Use the builtin `transfer_status` function to check progress. A separate call record is created for the consultation leg, including its transcript.
                    - `transferPrompt` (string, optional): Custom prompt to be used by the TransferAgent during consultative transfers. This overrides any `transferPrompt` set at the agent level (see `AgentOptions.transferPrompt`). The prompt can include the placeholder `${parentTranscript}` which will be replaced with the conversation history. Priority order: 1) `transferPrompt` parameter in transfer call, 2) `options.transferPrompt` in agent configuration, 3) default system prompt. Only applies when `operation` is `consultative`. Must be specified as `static` source (cannot be `generated` or `metadata`).
                    - `consultFeedback` (boolean, optional): When set to `true`, enables returning detailed rejection feedback from consultative transfers in the `description` field of `transfer_status`. When omitted or `false`, only a generic "Transfer failed" message is returned to the original agent, keeping the detailed reasons confidential. Defaults to `false`. Only applies when `operation` is `consultative`.
                    - `forceBridged` (boolean, optional): When set to `true`, forces a bridged transfer even when the trunk or registration endpoint supports SIP REFER. This overrides the automatic selection between bridging and REFER. Defaults to `false`. Applies to both blind transfers and the finalisation hop of consultative transfers (`operation: "blind"` or `"consultative"`). Use this when you need to maintain control over the call path, preserve custom SIP headers, or ensure consistent billing behavior.
                    - `forceRefer` (boolean, optional): When set to `true`, forces a SIP REFER transfer even when the platform would otherwise bridge the call (for example when the trunk or registration endpoint is configured to bridge by default). This overrides the automatic selection between bridging and REFER. Defaults to `false`. Applies to both blind transfers and the finalisation hop of consultative transfers (`operation: "blind"` or `"consultative"`), and only on SIP participants that are capable of REFER — WebRTC participants can never REFER, so this flag is ignored for them. `forceRefer` takes precedence over `forceBridged` if both are set. Use this to release the call to the carrier and free up platform media resources when you do not need to retain control of the call path.
                  * `transfer_status` is a builtin function that is always available to telephone agents. It takes no parameters and returns the current state of any in-progress transfer:
                    - Returns an object with `state` (one of: `none`, `dialling`, `talking`, `rejected`, `failed`) and `description` (a textual description of the current state)
                    - `none`: No transfer in progress
                    - `dialling`: The transfer target is being called
                    - `talking`: The agent is speaking with the transfer target (consultative transfers only)
                    - `rejected`: The transfer target declined the transfer (consultative transfers only). If `consultFeedback` was set to `true`, the description will contain detailed rejection feedback; otherwise it will be a generic "Transfer failed" message.
                    - `failed`: The transfer failed
                    - Use this to monitor the progress of consultative transfers. For blind transfers, the function returns immediately when the transfer completes.
                
                **Transfer Function Notes:**
                - The transfer function will only be available to telephone agents when outbound calling or SIP redirects are enabled for the provider trunk
                - The `number` parameter can only be specified as either `static` or `metadata` (e.g. from `aplisay.transferNumber` metadata).
                  `metadata` supports arbitrary-depth dot paths, so you can also reference tool call outputs primed into `metadata.toolsCalls` (e.g. `toolsCalls.lookupDirectory.result.transferNumber`).
                - For anti-fraud reasons, it is not possible to use a LLM `generated` parameter as the number to transfer a call to
                - Only one transfer can be in progress at a time. If a transfer is already in progress, subsequent transfer requests will return `FAILED`
                - By default, transfers automatically choose between bridging and SIP REFER based on trunk/endpoint capabilities. This applies both to blind transfers and to the finalisation hop of consultative transfers (when the agent connects the caller to the consulted target). Use `forceBridged: true` to override this and always use bridging, or `forceRefer: true` to always use SIP REFER (on REFER-capable SIP participants). If both are supplied, `forceRefer` wins. These per-transfer flags take precedence over any trunk (`forceReferTransfer`) or registration (`bridged_transfer`) endpoint defaults.
                - For calls that originate from a **WebRTC / browser** participant, transfers are always bridged: the platform dials the target and relays media inside the worker (there is no SIP dialog to REFER), so `forceRefer` is ignored. Both `blind` and `consultative` operations are supported. Because a browser call has no inbound trunk, `callerId` is **required** for these transfers and must be a number owned by your organisation with outbound calling enabled — its trunk is used as the egress path.
                - The `transferPrompt` parameter can only be specified as `static` - it cannot be generated by the LLM or sourced from metadata

                The `metadata` function will only currently be available to telephone agents, and the `keys` parameter 
                can only be specified as a `static`. This ensures that the LLM can only work with metadata that the agent designer
                has explicitly allowed it to which is a security feature to control the risk of data leakage.

          redact:
            type: boolean
            description: >-
              When set to `true`, the function still executes normally and the real result is stored in
              `metadata.toolsCalls.<function>.result`. However, the LLM receives only a redacted acknowledgement:
              `"OK - function completed"` on success, or `"FAILED - invocation failed"` on error (with the `error`
              object still present, but the result payload redacted). This is intended for handlers with dynamic
              metadata support (e.g. LiveKit agents).
            example: true
          result:
            type: string
            description: The hardwired result of this function call, optional and only useful for `stub` or `client`
            example: the result is one
          url:
            type: string
            description: The URL to be called when the function is invoked, optionally with path variable substitutions wrapped in {} braces
            example: https://app.aplisay.com/weather/get_weather/{location}
          method:
            type: string
            description: The HTTP method to be used when calling the function
            enum: ["get", "post", "put", "delete"]
            example: get
          key:
            type: string
            description: The name of an API key which should be used with this call
            example: WEATHER_API_KEY
          input_schema:
            $ref: "#/components/schemas/Parameters"
    McpServers:
      type: array
      description: |-
        An array of remote MCP (Model Context Protocol) servers whose tools are made available
        to the LLM as additional callable tools, alongside any `functions`.

        Only consumed by handlers that can act as an MCP client. In the first instance this is the
        Pipecat worker (e.g. Ultravox realtime on Pipecat): the worker connects to each server,
        discovers its tools, exposes them to the model, and proxies every invocation. Models that
        do not advertise `supportsMcp` ignore this property.
      items:
        type: object
        required:
          - name
          - url
        properties:
          name:
            type: string
            description: An identifier for this MCP server. Used to namespace its tool names.
            pattern: '^[a-zA-Z0-9_-]{1,64}$'
            example: weather_mcp
          url:
            type: string
            format: uri
            description: The base URL of the remote MCP server endpoint.
            example: https://mcp.example.com/mcp
          transport:
            type: string
            description: The MCP transport used to reach the server.
            enum: ["streamable_http", "sse"]
            default: streamable_http
            example: streamable_http
          key:
            type: string
            description: |-
              The `name` of an entry in the agent's `keys` array used to authenticate to this
              server. This is the recommended way to supply a credential: the secret lives in
              `keys` (which is never returned by the API), so it is not exposed to clients, unlike
              an inline `headers` token.

              The worker resolves the named key into the request according to the key's `in` type:
                * `bearer` → `Authorization: Bearer <value>` header
                * `basic`  → `Authorization: Basic <value>` header (value is the base64 `user:pass`)
                * `header` → a custom header named by the key's `header` field
                * `query`  → a query-string parameter named by the key's `name`

              Any explicit `headers` below take precedence over a header derived from the key.
            pattern: '^[a-zA-Z0-9_]{1,64}$'
            example: weather_api_key
          headers:
            type: object
            description: |-
              Optional HTTP headers sent on every request to the MCP server, typically for
              authentication (e.g. an `Authorization` bearer token). Prefer `key` for secrets —
              values set here are stored on the agent and returned to clients verbatim.
            additionalProperties:
              type: string
            example:
              Authorization: "Bearer sk-..."
    Keys:
      type: array
      description: An array of keys to be used in API calls
      items:
        type: object
        properties:
          name:
            type: string
            description: The key name, used in the invocation
            example: get_weather
          in:
            type: string
            description: Where in the request the key should be used
            enum: ["basic", "bearer", "header", "path", "query"]
            example: bearer
          value:
            type: string
            description: The value of the key. For keys in the \"basic\" auth header, this will be the base64 encoded value of the username:password
            example: asdk438smw03lxdfs9se3
          username:
            type: string
            description: The username for the key. Meaningful only for keys in the \"basic\" auth header.
            example: user1
          header:
            type: string
            description: The custom header name for the key. Meaningful only for keys with an `in` of \"header\".
            example: X-Api-Key
          password:
            type: string
            description: The password for the key. Meaningful only for keys in the \"basic\" auth header.
            example: <PASSWORD>
    Language:
      description: >-
        Language and country dialect specified as an ISO639-1 language code
        followed by a dash and and ISO3166 country code.
        For now, list of supported recognition voices is identical to the voicing languages returned from the `voices` api.
        This should change in future.
        Ultravox models (`ultravox:`, `livekit:ultravox/` and `pipecat:ultravox/`) are speech-to-speech with
        no separate STT/TTS stage, so they take a single hint: `tts.language`, falling back to
        `stt.language`, is sent as the provider-native `languageHint` guiding both recognition and synthesis.
        Omitted when unset or set to a non-specific value (`any`, `multi`, `auto`, ...), in which case
        Ultravox auto-detects.
        On `pipecat:` pipeline (STT-LLM-TTS) models each side prefers its own block and falls back to the
        other, so declaring the language once configures both: recognition uses `stt.language` then
        `tts.language`, synthesis the reverse. Regional tags are preserved where the provider accepts them
        (Deepgram, Google) and reduced to the base code where it does not (Cartesia, ElevenLabs). Deepgram
        TTS is the exception - its Aura voice id already encodes the language, so pick the voice instead.
        When unset the provider's own default applies.
      type: string
    Voice:
      type: object
      properties:
        name:
          type: string
          description: The voice name or identifier within the TTS engine - opaque string
          example: en-GB-Wavenet-B
        gender:
          type: string
          description: The vendor assigned gender of this voice within the TTS engine
          example: male
    VoiceList:
      type: object
      additionalProperties:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/Voice"
    TransactionLog:
      type: array
      description: An array of log entries for this transaction
      items:
        $ref: "#/components/schemas/TransactionLogRow"
    InvocationLog:
      type: object
      description: Invocation-level log entry containing compressed pino logs for a single call.
      properties:
        callId:
          type: string
          description: Unique ID of the call this invocation log is associated with
          example: 648aa45d-204a-4c0c-a1e1-419406254134
        organisationId:
          type: string
          description: Organisation ID that owns the agent/call
        userId:
          type: string
          description: User ID that owns the agent/call
        subsystem:
          type: string
          description: Subsystem that produced this log (currently always "livekit-agent")
          enum:
            - livekit-agent
        log:
          description: >
            Decompressed invocation log payload for this call, reconstructed from the compressed JSONB
            stored in the InvocationLog table. This typically contains an array of pino log entries
            for the full lifetime of the agent run, with very large objects pruned to keep rows manageable.
          anyOf:
            - type: object
            - type: array
              items:
                type: object
    TransactionLogRow:
      type: object
      properties:
        callId:
          type: string
          description: unique ID of this transaction
          example: 648aa45d-204a-4c0c-a1e1-419406254134
        type:
          type: string
          description: The type of this log entry
          enum: ["call", "agent", "user", "hangup"]
          example: call
        data:
          type: string
          description: The data associated with this log entry
          example: "hello, how may a I help you"
        createdAt:
          type: string
          description: The time this log entry was created
          example: 2020-01-01T00:00:00Z
        updatedAt:
          type: string
          description: The time this log entry was last updated
          example: 2020-01-01T00:00:00Z
        isFinal:
          type: boolean
          description: Whether this log entry is the final form for this row, if false, then the row may change in future (e.g. to add further transcriptions)
          example: true
    Call:
      type: object
      properties:
        id:
          type: string
          description: unique ID of this call
          example: 648aa45d-204a-4c0c-a1e1-419406254134
        index:
          type: number
          description: Monotonically increasing index of this call, used for cursor pagination in list endpoints
          example: 1
        parentId:
          type: string
          nullable: true
          description: ID of the parent call if this call was created as part of a transfer or bridge
          example: 632555d87-948e-48f2-a53d-fc5f261daa7
        agentId:
          type: string
          description: The ID of the agent that this call is associated with
          example: 648aa45d-204a-4c0c-a1e1-419406252234
        modelName:
          type: string
          description: The name of the model used for this call, if specified
          example: gpt-4.1-mini
        startedAt:
          type: string
          description: The time this call started
          example: 2025-06-04T12:00:00.000Z
        endedAt:
          type: string
          description: The time this call ended
          example: 2025-06-04T12:01:00.000Z
        status:
          type: string
          nullable: true
          description: >
            Status describing what happened to this call. For concurrency failures this is of the form
            `failed: <instance|user|organisation> concurrency limit`. For in-progress calls it is `in progress`.
            When the call ends normally it is `ended normally`.
          example: 'failed: instance concurrency limit'
        callerId:
          type: string
          nullable: true
          description: Caller number or identifier (as received)
          example: "+443300889471"
        calledId:
          type: string
          nullable: true
          description: Called number or identifier for this call
          example: "+442080996945"
        recordingId:
          type: string
          nullable: true
          description: |-
            When present, a recording is available for this call. Use `GET /calls/{callId}/recording`
            to stream or download it. Omit or null when the call has no recording.
          example: "development-recordings/648aa45d-204a-4c0c-a1e1-419406254134.enc"
    CallId:
      type: string
      description: The Call ID the event relates to
      example: 648aa45d-204a-4c0c-a1e1-419406254134
    Progress:
      oneOf:
        - $ref: "#/components/schemas/Progress.user"
        - $ref: "#/components/schemas/Progress.agent"
        - $ref: "#/components/schemas/Progress.inject"
        - $ref: "#/components/schemas/Progress.call"
        - $ref: "#/components/schemas/Progress.hangup"
        - $ref: "#/components/schemas/Progress.data"
      example:
        {
          prompt: "I would like some candyfloss",
          call_id: "648aa45d-204a-4c0c-a1e1-419406254134",
        }
    Progress.user:
      type: object
      properties:
        user:
          type: string
          description: prompt received from user
          example: I would like some candyfloss
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.agent:
      type: object
      properties:
        agent:
          type: string
          description: completion from AI to user
          example: I am an AI I cannot make physical things like candyfloss
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.inject:
      type: object
      properties:
        inject:
          type: string
          description: spoken text injected directly by the application
          example: This is your application speaking
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.call:
      type: object
      properties:
        call:
          type: string
          description: the phone number of the caller
          example: +44123456789
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.hangup:
      type: object
      properties:
        hangup:
          type: boolean
          description: boolean true value to indicate hangup
          example: true
        call_id:
          $ref: "#/components/schemas/CallId"
    Progress.data:
      type: object
      properties:
        data:
          type: object
          description: "raw JSON data object as sent by the AI model"
          example: { order: { number: 123456, value: "£12345" } }
        call_id:
          $ref: "#/components/schemas/CallId"
    Error:
      type: object
      properties:
        code:
          type: string
          description: String representation of a numeric error code
          example: "1234"
        message:
          type: string
          description: Human readable error condition (largely) suitable to present to the client.
          example: "general server error"
    NotFound:
      type: object
      properties:
        message:
          type: string
          description: Human readable message describing which parameter was not found
          example: "Not found: no phone number matching 1234 exists for this user/organisation"
    Conflict:
      type: object
      properties:
        message:
          type: string
          description: Human readable message describing which parameter was in conflct
          example: "In use: number 1234 is already linked to another instance"
    PreConditionFailed:
      type: object
      properties:
        message:
          type: string
          description: Human readable message describing which condition failed
          example: "Not supported: 1234 routes to jambonz but this agent uses livekit"
    Registrar:
      type: string
      description: |-
        SIP contact URI for phone registration endpoints. This is the SIP account
        identity (it is used as the SIP realm / from-domain). It must be a routable
        FQDN or public IP unless a routable `options.register_proxy` is supplied, in
        which case the registrar may be a non-FQDN host (e.g. an internal PBX name).
      pattern: '^(?:sips?:)?(?:[a-zA-Z0-9._-]+@)?[a-zA-Z0-9_-]+(?:\.[a-zA-Z0-9_-]+)*(?::[0-9]+)?$'
      example: sip.example.com:5060
    PhoneRegistrationOptions:
      type: object
      description: Implementation-specific options for phone registration endpoints (TBD)
      properties:
        transport:
          type: string
          enum:
            - udp
            - tcp
            - tls
          default: tls
          description: Transport protocol for SIP registration
        register_proxy:
          type: string
          description: |-
            Optional routable next hop (outbound proxy / SBC) for this registration. When the
            registrar is a non-FQDN host, set this to the reachable host (which must be a
            routable FQDN or public IP): SIP REGISTER and calls are sent here while the
            registrar is used only as the SIP realm / from-domain. Use this for SIP providers
            whose registrar is a non-FQDN host but whose proxy is internet-reachable.
          example: proxy.provider.example.com:5060
        realm:
          type: string
          description: |-
            Optional SIP realm. Defaults to the registrar host when the registrar is a
            non-FQDN host (and `register_proxy` carries reachability), otherwise left to the
            gateway default.
          example: provider.example.com
        auth_username:
          type: string
          description: |-
            The authentication username for an outbound registration. This will be used as the authentication 
            username when registering with the SIP registrar, if this differa from the username used in the From field.
            Not required for most registrars where auth and from usernames are the same, but may be required for systems
            where they are different.
          example: "authuser123"
        extension_in_contact:
          type: boolean
          description: |-
            When set to true, will send the extension user in the SIP Contact header. This is useful when the remote 
            gateway needs the extension user to be included in the Contact header for proper routing or authentication.
          example: true
      example:
        transport: tls
        auth_username: "authuser123"
        extension_in_contact: true
    PhoneEndpointCreateInput:
      description: |-
        Schema for creating a new phone endpoint. Supports two types of endpoints:
        DDI endpoints are created using an E.164 phone number with trunk configuration.
        Phone registration endpoints are created using a SIP contact URI, username, and password.
        Both kinds of endpoints can be created with a user-defined descriptive name and optionally set to support outbound calling
        (if supported by the handler and trunk/registration account).
      allOf:
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              description: The type of phone endpoint
              enum:
                - e164-ddi
                - phone-registration
            name:
              type: string
              description: User-defined descriptive name
              nullable: true
            handler:
              type: string
              description: The handler type for this phone endpoint
              enum:
                - livekit
                - jambonz
                - pipecat
              default: livekit
            outbound:
              type: boolean
              description: Whether this endpoint supports outbound calls
              default: false
        - oneOf:
            - description: E.164 DDI endpoint
              type: object
              required:
                - number
                - trunkId
              properties:
                name:
                  type: string
                  description: User-defined descriptive name
                  nullable: true
                number:
                  type: string
                  description: E.164 phone number (with or without +)
                  pattern: '^\+?[1-9]\d{6,14}$'
                trunkId:
                  type: string
                  description: Trunk identifier for e164-ddi type. The handler and outbound capabilities for the created number are inherited from this trunk; callers cannot request a handler that is incompatible with the trunk.
            - description: Phone registration endpoint
              type: object
              required:
                - registrar
                - username
                - password
              properties:
                name:
                  type: string
                  description: User-defined descriptive name
                  nullable: true
                registrar:
                  $ref: '#/components/schemas/Registrar'
                username:
                  type: string
                  description: Username for phone-registration type
                password:
                  type: string
                  description: Password for phone-registration type
                options:
                  $ref: '#/components/schemas/PhoneRegistrationOptions'
    PhoneEndpointUpdateInput:
      description: |-
        Schema for updating a phone endpoint. All fields are optional.
        For e164-ddi endpoints, only `outbound`, `handler` and `provisioned` can be updated.
        For phone-registration endpoints, `name`, `outbound`, `handler`, `registrar`, `username`, `password`, and `options` can be updated.
        When credentials (registrar, username, password) are updated, the registration state is reset to initial.
      type: object
      properties:
        name:
          type: string
          description: User-defined descriptive name
        outbound:
          type: boolean
          description: Supports outbound
        provisioned:
          type: boolean
          description: Carrier-side provisioning complete (e164-ddi only; set by the dashboard Buy-number flow)
        handler:
          type: string
          enum:
            - livekit
            - jambonz
            - pipecat
          description: Handler for this endpoint
        registrar:
          $ref: '#/components/schemas/Registrar'
        username:
          type: string
          description: Registration username (for registrations)
        password:
          type: string
          description: Registration password (for registrations)
        options:
          $ref: '#/components/schemas/PhoneRegistrationOptions'
paths: {}
